<section class="auth">
  <div class="container">
    <div class="auth-inner">
      <div class="auth-title">Enter your details</div>
      <div class="auth-suptitle">Email:</div>
      <input type="email" class="auth-input">
      <div class="auth-suptitle">Password:</div>
      <input type="password" class="auth-input" minlength="8" maxlength="32">
      <div class="auth-buttons">
        <button class="auth-button">Sign in</button>
        <button class="auth-button">Sign up</button>
      </div>
    </div>
  </div>
</section>
