<section class="book">
  <div class="container">
    <div class="book-inner">
        <div class="book-title">Учебник</div>
        <div class="book-suptitle">Уровни сложности</div>
        <div class="book-levels">
            <div class="book-level" *ngFor="let item of levels; let i = index" (click)="importWord(i)">
                <div class="book-level-symbol">{{item}}</div>
                <div class="book-level-count">{{counts[i]}}</div>
            </div>
        </div>

        <div class="book-title">Слова</div>

        <div class="word">
          <div class="word-list">
            <div class="word-item" *ngFor="let item of db; let i = index" (click)="activeWord(i)">
              <div class="word-item-word">{{item.word}}</div>
              <div class="word-item-translate">{{item.wordTranslate}}</div>
            </div>
          </div>

          <div class="word-info">
            <img src="" alt="" class="word-info-avatar">
            <div class="word-info-word">{{db[word].word}}</div>
            <div class="word-info-subword">{{db[word].wordTranslate}}</div>
            <div class="word-info-sound">{{db[word].transcription}}</div>
            <button class="word-info-button" (click)="inToHard()">Добавить в сложные слова</button>
            <div class="word-info-subword">Значение</div>
            <p class="word-info-text">{{db[word].textExample}}</p>
            <p class="word-info-text">{{db[word].textExampleTranslate}}</p>
            <div class="word-info-subword">Пример</div>
            <p class="word-info-text">{{db[word].textMeaning}}</p>
            <p class="word-info-text">{{db[word].textMeaningTranslate}}</p>
          </div>
        </div>

        <div class="word-pagination">
          <img src="assets/arrow.png" alt="" class="word-pagination-arrow" style="transform: rotate(180deg);" (click)="pagin(false)">
          <div class="word-pagination-number">{{pages[0]}}</div>
          <div class="word-pagination-number active">{{pages[1]}}</div>
          <div class="word-pagination-number">{{pages[2]}}</div>
          <img src="assets/arrow.png" alt="" class="word-pagination-arrow" (click)="pagin(true)">
        </div>

            <div class="box-about-project-inner">
              <div class="block-about-project" *ngFor="let item of titleCard; let i = index">
                <img class="img-card" src="../../../assets/svg/{{pathPictures[i]}}.png" alt="Book">
                <h4 class="title-card">{{item}}</h4>
                <a routerLink={{linksOfGames[i]}} (click)="saveDb()"><button class="btn-play">Играть</button></a>
              </div>
            </div>

    </div>
  </div>
</section>
