.book {
  width: 100%;
}

.book-inner {
  width: 100%;
  margin-top: 100px;
}

.book-title {
  font-size: 40px;
  padding: 60px 0 0 0 ;
}

.book-suptitle {
  font-size: 24px;
  margin: 20px 0;
}

.book-levels {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.book-level {
  width: 15%;
  background-color: white;
  border-radius: 10px;
  padding: 10px 20px;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;

  cursor: pointer;
}

.book-level-symbol {
  font-size: 24px;
}

.book-level.active {
  background-color: #8DA399;
}


.word {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.word-list {
  width: 60%;
  background-color: #20B2AA;
  border-radius: 20px;
}

.word-info {
  width: 30%;
  background-color: #50C878;
  border-radius: 20px;
}
