<section class="book">
  <div class="container">
    <div class="book-inner">
        <div class="book-title">Textbook</div>
        <div class="book-suptitle">Levels of difficulty</div>
        <div class="book-levels">
            <div class="book-level active">
                <div class="book-level-symbol">A1</div>
                <div class="book-level-count">1-600</div>
            </div>
            <div class="book-level">
                <div class="book-level-symbol">A2</div>
                <div class="book-level-count">601-1200</div>
            </div>
            <div class="book-level">
                <div class="book-level-symbol">B1</div>
                <div class="book-level-count">1201-1800</div>
            </div>
            <div class="book-level">
                <div class="book-level-symbol">B2</div>
                <div class="book-level-count">1801-2400</div>
            </div>
            <div class="book-level">
                <div class="book-level-symbol">C1</div>
                <div class="book-level-count">2401-3000</div>
            </div>
            <div class="book-level">
                <div class="book-level-symbol">C2</div>
                <div class="book-level-count">3001-3600</div>
            </div>
        </div>
        <div class="book-title">Words</div>
        <div class="word">

          <div class="word-list">
            <div class="word-item">
              <div class="word-item-word"></div>
              <div class="word-item-translate"></div>
            </div>
          </div>

          <div class="word-info">

          </div>

        </div>
    </div>
  </div>
</section>
