<header>
  <div class="container">
    <div class="header-inner">
      <a class="header-element" href="/">
        RS Lang
      </a>
      <div class="header-element">
        <img class="header-burger" src="/assets/menu.png" (click)="popup()">
        <ul class="header-ul">
          <img class="header-burger" src="/assets/menu.png" (click)="popup()">
          <li class="heade-li">Главная</li>
          <li class="heade-li">Мини-игры</li>
          <li class="heade-li">Статистика</li>
          <li class="heade-li">Профиль</li>
          <li class="heade-li">О команде</li>
        </ul>
      </div>
    </div>
  </div>
</header>
