header {
  /* width: 1550px; */
  max-width: 100%;
  height:80px;
  margin: 0 auto;
  background-color: #49497a86;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  font-size:21px
}
.header-ul{
  display: flex;
}
.heade-li{
  margin-left:10px;
}

