<header>
  <div class="container">
    <div class="header-inner">
      <a class="header-element" href="/">RS Lang</a>
      <div class="header-element">
        <ul class="header-ul">
          <li class="header-li"><a routerLink='/games'>{{gamesTitle}}</a></li>
          <li class="header-li"><a routerLink='/book'>{{bookTitle}}</a></li>
          <li class="header-li"><a routerLink='/statistics'>{{statisticsTitle}}</a></li>
          <li class="header-li"><a routerLink=''>{{logInTitle}}</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>
