header {
  width: 100%;
  background-color: #49497a86;
  position: absolute;
  display: flex;
}
.header-inner {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.header-element:nth-child(1) {
  font-size: 30px;
  font-weight: bold;
  transform: scale(1);
  transition: all 0.5s;
}
.header-element:nth-child(1):hover {
  transform: scale(1.2);
}
.header-element:nth-child(2) {
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.header-element {
  margin: 0;
  padding: 0;
  color: white;
  display: flex;
  text-decoration: none;
}
.header-burger {
  width: 40px;
  height: 40px;
  transform: scale(1);
  transition: all 0.5s;
}
.header-burger:hover {
  transform: scale(1.4);
}
.header-ul {
  position: absolute;
  top: -300px;
  margin: 0;
  padding: 0;
  background-color: #49497a86;
}
.header-ul.active {
  top: 20px;
}
