<section class="audio-call-page">
  <div class="container">
    <div class="audio-call-inner">
      <div>
        <img class="true-photo hide" src="#" #image alt="answer">
      </div>
      <img #imageVolume src="../../../../assets/svg/volume.svg" (click)="audioPlay()" alt="volume">
      <p *ngIf="showEl">{{trueWord}}</p>
      <div class="audio-call-column">
        <ul class="list-of-words">
          <li class="word-answers" *ngFor="let item of writeWords()" (click)="showTrueWord($event)">{{item}}</li>
        </ul>
        <div (click)="nextWords(image, imageVolume)" class="btn-submit">
          <p>{{nextBtn}}</p>
        </div>
      </div>
    </div>
  </div>
</section>
