<section class="audio-call-page">
  <div class="container">
    <div class="audio-call-inner">
      <div>
        <img class="true-photo hide" src="#" #image alt="answer">
      </div>
      <img #imageVolume src="../../../../assets/svg/volume.svg" (click)="audioPlay()" alt="volume">
      <p *ngIf="showEl">{{trueWord}}</p>
      <p *ngIf="showEl">Правильный ответ: {{wordTranslate}}</p>
      <div class="audio-call-column">
        <div class="list-of-words">
          <button [disabled]="showEl" class="word-answers" *ngFor="let item of resultWordsOnPage; let i = index"
            id={{i}} (click)="showTrueWord($event); nextWords(image, imageVolume)">{{item}}</button>
        </div>
        <div (click)="nextWords(image, imageVolume)" class="btn-submit">
          <p>{{nextBtn}}</p>
        </div>
      </div>
    </div>
  </div>
</section>
