<section class="audio-call-page">
  <div class="container">
    <div class="audio-call-inner">
      <app-mini-icons></app-mini-icons>
      <div>
        <img class="true-photo hide" id="image-show" src="#" #image alt="answer">
      </div>
      <div class="audio-call-show-el">
        <p *ngIf="showEl">{{trueWord}} - <span class="true-word">{{wordTranslate}}</span></p>
        <img #imageVolume id="imageVolume" src="../../../../assets/svg/volume.svg" (click)="audioPlay()" alt="volume">
      </div>
      <div class="audio-call-column">
        <div class="list-of-words">
          <button [disabled]="showEl" class="word-answers" *ngFor="let item of resultWordsOnPage; let i = index"
            id={{i}} (click)="showTrueWord($event); nextWords(image, imageVolume)">{{item}}</button>
        </div>
        <div (click)="nextWords(image, imageVolume)" class="btn-submit">
          <p>{{nextBtn}}</p>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="popup" *ngIf="showPopup">
  <div class="box-popup">
    <h3 class="title-popup">результаты игры</h3>

    <div class="popup-container">
      <div class="block-with-result">
        <p>Знаю <span class="count-words green">{{countsTrueTranslatedWords.length}}</span></p>
        <ul class="list-words">
          <li class="word" *ngFor="let item of countsTrueTranslatedWords; let i = index">
            {{countsTrueEngWords[i]}}
            <span class="translate-word"> - {{item}}</span>
          </li>
        </ul>
      </div>

      <div class="block-with-result">
        <p>Ошибок <span class="count-words red">{{countsOfUnansweredWords.length}}</span></p>
        <ul class="list-words">
          <li class="word" *ngFor="let item of countsOfUnansweredTransWords; let i = index">
            {{countsOfUnansweredWords[i]}}<span class="translate-word">
              -
              {{item}}</span>
          </li>
        </ul>
      </div>
    </div>

    <div class="btns">
      <a routerLink=""><button class="btns-popup">На главную</button></a>
      <a routerLink="/games"><button class="btns-popup" id="secBtn">Сыграть еще раз</button></a>
    </div>

  </div>
</div>
