.footer-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-boxex {
  display: flex;
  align-items: center;
}

p {
  font-size: 30px;
}

.footer-boxex a:nth-child(2){
  margin-left:20px;
}

@media(max-width: 500px) {
p {
  font-size: 17px;
}
}
