.main-page {
  background: url('/assets/bg.png') center no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content:center;
  flex-direction: column;
}

.main-page-inner {
  border: 3px white solid;
  padding: 30px;
  width: 50%;
  color: white;
}

.main-page-suptitle {
  font-size: 34px;
}

.main-page-title {
  font-size: 44px;
}



.dev {
  width: 60%;
  margin: 0 auto;
}

.dev-inner {
}

.dev-item {
  display: flex;
  justify-content: space-evenly;
  color: white;
  margin-bottom: 50px;
  background-color: #006262;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 7px 7px 7px 7px #003030;
}

.dev-img {
  width: 30%;
  height: max-content;
  border-radius: 50%;
}

.dev-info {
  width: 50%;
  margin: auto 0;
  text-align: center;
}

.dev-title {
  font-size: 50px;
}

.dev-suptitle {
  font-size: 30px;
  margin-top: 10px;
}

.dev-text {
  font-size: 20px;
  margin-top: 10px;
}

.dev-social {
  display: flex;
  padding: 0;
  justify-content: space-evenly;
  margin-top: 10px;
}

.dev-soc {
  width: 50px;
  margin-right: 10px;
}
