<section class="main-page">
  <div class="container">
    <div class="main-page-inner">
      <div class="main-page-suptitle">Welcome to our review on</div>
      <div class="main-page-title">RS Lang</div>
    </div>
  </div>
</section>

<section class="dev">
  <div class="container">
    <div class="dev-inner">
      <div class="dev-item">
        <img src="/assets/klimentsii.jpg" alt="" class="dev-img">
        <div class="dev-info">
          <div class="dev-title">Klimentsii</div>
          <div class="dev-suptitle">Developer</div>
          <div class="dev-text">Text text text text text text. Text text text text text text. Text text text text text text. </div>
          <ul class="dev-social">
            <a class="dev-soc"><img src="/assets/svg/github.png" alt=""></a>
            <a class="dev-soc"><img src="/assets/svg/telegram.png" alt=""></a>
            <a class="dev-soc"><img src="/assets/svg/inst.png" alt=""></a>
          </ul>
        </div>
      </div>

      <div class="dev-item">
        <div class="dev-info">
          <div class="dev-title">Artvvr</div>
          <div class="dev-suptitle">Developer</div>
          <div class="dev-text">Text text text text text text. Text text text text text text. Text text text text text text. </div>
          <ul class="dev-social">
            <a class="dev-soc"><img src="/assets/svg/github.png" alt=""></a>
            <a class="dev-soc"><img src="/assets/svg/telegram.png" alt=""></a>
            <a class="dev-soc"><img src="/assets/svg/inst.png" alt=""></a>
          </ul>
        </div>
        <img src="/assets/artvvr.png" alt="" class="dev-img">
      </div>
    </div>
  </div>
</section>
