.cross-full-alarm img{
  width: 25px;
  height: 25px;
  margin-left: 15px;
  margin-bottom: 30px;
}

.cross-full-alarm img:nth-child(1){
  margin-left:0;
}

.cross-full-alarm img:hover{
  cursor: pointer;
}
