<section class="sprint-page">
  <div class="container">
    <div class="sprint-inner">
      <div>
        <img src="../../../../assets/svg/timer.svg" alt="Timer">
        <p>30 sec</p>
      </div>
      <div>
        <ul class="list-rounds">
          <li class="round"></li>
          <li class="round"></li>
          <li class="round"></li>
        </ul>
        <p>Bonus: X3</p>
        <p>Очки: 100</p>
      </div>
      <div>
        <p>
          <span class="words">car</span> это
          <span class="words">машина</span> ?
        </p>
      </div>
      <div>
        <button>Верно</button>
        <button>Неверно</button>
      </div>
    </div>
  </div>
</section>
