<section class="sprint-page">
  <div class="container">
    <div class="sprint-inner">
      <div>
        <img src="../../../../assets/svg/timer.svg" alt="Timer">
        <p>{{timeOut}} sec</p>
      </div>
      <div>
        <ul class="list-rounds">
          <li class="round"></li>
          <li class="round"></li>
          <li class="round"></li>
        </ul>
        <p>Bonus: {{bonus}}</p>
        <p>Очки: {{points}}</p>
      </div>
      <div>
        <p>
          <span class="words">{{word}}</span> это
          <span class="words">{{wordTranslate}}</span> ?
        </p>
      </div>
      <div>
        <button (click)="trueAnswer()">Верно</button>
        <button (click)="wrongAnswer()">Неверно</button>
      </div>
    </div>
  </div>
</section>
