<section class="games-page">
  <div class="container">
    <div class="page-games-inner">
      <h3 class="title-games">выберите игру</h3>
      <div class="block-games">

        <div class="game">
          <div class="left-side-info">
            <h4 class="name-of-game">спринт</h4>
            <p class="info-about-game">Проверьте, сколько очков вы можете получить за одну минуту, делая обоснованные
              предположения о том, что
              правильно, а что
              нет.
            </p>
            <p class="title-select-lvl">ВЫБЕРИТЕ УРОВЕНЬ:</p>
            <ul class="list-level">
              <li class="level-eng" *ngFor="let item of items; index as i"
                (click)="selectLevel($event, i, startSprint)">
                {{item}}
              </li>
            </ul>
          </div>
          <div class="right-side">
            <a routerLink="/games/sprint">
              <button disabled="true" #startSprint (click)="saveDb()" class="btn-start">начать</button>
            </a>
            <img class="image-of-game" src="../../../assets/svg/time.png" alt="hourglass">
          </div>
        </div>

        <div class="game">
          <div class="left-side-info">
            <h4 class="name-of-game">аудиовызов</h4>
            <p class="info-about-game">Проверьте свои навыки слушания, пытаясь подобрать правильное значение после
              услышанного слова. Будьте
              осторожны, так как
              у вас есть только одно предположение.
            </p>
            <p class="title-select-lvl">ВЫБЕРИТЕ УРОВЕНЬ:</p>
            <ul class="list-level">
              <li class="level-eng" *ngFor="let item of items; index as i"
                (click)="selectLevel($event, i, startAudioCall)">
                {{item}}
              </li>
            </ul>
          </div>
          <div class="right-side">
            <a routerLink="/games/audio-call">
              <button #startAudioCall disabled="true" (click)="saveDb()" class="btn-start">начать</button>
            </a>
            <img class="image-of-game" src="../../../assets/svg/hear.png" alt="headphones">
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
