<section class="games-page">
  <div class="container">
    <div class="page-games-inner">
      <h3 class="title-games">выберите игру</h3>
      <div class="block-games">
        <div class="game">
          <div class="left-side-info">
            <h4 class="name-of-game">спринт</h4>
            <p class="info-about-game">Проверьте, сколько очков вы можете получить за одну минуту, делая обоснованные
              предположения о том, что
              правильно, а что
              нет.
            </p>
            <p class="title-select-lvl">ВЫБЕРИТЕ УРОВЕНЬ:</p>
            <ul class="list-level">
              <li class="level-eng">A1</li>
              <li class="level-eng">A2</li>
              <li class="level-eng">B1</li>
              <li class="level-eng">B2</li>
              <li class="level-eng">C1</li>
              <li class="level-eng">C2</li>
            </ul>
          </div>
          <div class="right-side">
            <img class="image-of-game" src="../../../assets/svg/time.png" alt="game-info">
          </div>
        </div>
        <div class="game">
          <div class="left-side-info">
            <h4 class="name-of-game">аудиовызов</h4>
            <p class="info-about-game">Проверьте свои навыки слушания, пытаясь подобрать правильное значение после
              услышанного слова. Будьте
              осторожны, так как
              у вас есть только одно предположение.
            </p>
            <p class="title-select-lvl">ВЫБЕРИТЕ УРОВЕНЬ:</p>
            <ul class="list-level">
              <li class="level-eng">A1</li>
              <li class="level-eng">A2</li>
              <li class="level-eng">B1</li>
              <li class="level-eng">B2</li>
              <li class="level-eng">C1</li>
              <li class="level-eng">C2</li>
            </ul>
          </div>
          <div class="right-side">
            <img class="image-of-game" src="../../../assets/svg/hear.png" alt="game-info">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
